h1[class="header"] {
    text-align: center;

    border-radius: 5px;
    padding: 10px;
}
div[class="input-field"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container #form {
    margin-bottom: 20px;
}
.container .body {

    border-radius: 5px;
    height: 400px;
}
.container .body .btn {
    margin-left: 10px;
}
.container .body .table {
    width: 70%;
}